<head>
<title><%= htmlWebpackPlugin.options.title %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="<%= htmlWebpackPlugin.options.description %>" />
</head>
<body>
  <div id="root"><!-- AppRoot --></div>
  <!-- AppState-->
</body>
